@keyframes menu-animation {
  from {
    bottom: -50px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@media all and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }
  .visible-dish-wrap {
    outline: 1px solid blue;
    width: 94%;
    background-color: #fff;
    border-radius: 30px;
    margin: 20px;
    overflow: hidden;
  }
  .visible-dish-wrap:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
  .dish-wrap-palette {
    width: 125%;
    display: flex;
    align-items: center;
    transition: width 1s ease-out 100ms;
  }
  .dish-wrap-palette > .check .fa-check-circle {
    font-size: 40px;
    color: #fff;
    background-color: #99E2D0;
    border-radius: 50%;
    border: 1px solid #99E2D0;
    transition: transform 1s ease-out 10ms;
    margin: 30px;
  }
  .dish-wrap-palette:hover {
    width: 100%;
  }
  .dish-wrap-palette:hover > .check .fa-check-circle {
    transform: rotate(360deg);
  }
  .dish-wrap-palette .dish-info-palette {
    display: inline-block;
    width: 75%;
    padding-left: 30px;
    margin-right: 10px;
  }
  .dish-wrap-palette .dish-info-palette > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container {
    animation-name: container;
    animation-duration: 3s;
  }
  @keyframes container {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideLoading 2s forwards;
    position: absolute;
    bottom: 20px;
    left: 35px;
  }
  @keyframes hideLoading {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .navigation {
    width: 100%;
  }
  .navigation-link {
    padding: 20px 0;
    width: 100%;
    display: block;
    text-align: center;
  }
  .navigation img {
    width: 200px;
    align-items: center;
  }
  .search-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    padding: 10px;
    box-shadow: rgba(11, 10, 10, 0.18) 0px 13px 12px 0px inset;
  }
  .search-btn-wrap input {
    border: none;
    background-color: #9356DC;
    font-size: 20px;
    font-family: Roboto;
  }
  .search-btn-wrap input::placeholder {
    color: #000;
  }
  .fa-map-marker-alt {
    font-size: 22px;
    margin: 15px;
  }
  .head {
    background-color: #99E2D0;
    text-align: center;
    padding: 40px 0;
  }
  .head h1 {
    font-family: Roboto;
    font-size: 27px;
    font-weight: 700;
  }
  .head p {
    padding: 35px 10px;
    text-align: center;
    color: gray;
    font-family: Roboto;
    font-size: 20px;
  }
  .head button {
    background-color: #FF79DA;
    padding: 17px 30px;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    align-items: center;
    box-shadow: 1px 7px 10px 1px rgba(0, 0, 0, 0.15);
  }
  .head button:hover {
    box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
    background-color: #fface8;
  }
  /* Section with the buttons for chosing the place 
  and prepare the menu*/
  .btns {
    padding: 40px 10px 50px 15px;
  }
  .btns h2 {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
  }
  .btn-wrap {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    background-color: #99E2D0;
    border-radius: 23px;
    margin: 25px 0 10px 10px;
    box-shadow: -2px 6px 11px 2px rgba(0, 0, 0, 0.15);
    font-size: 25px;
  }
  .btn-wrap:hover {
    box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
    background-color: #c1ede2;
  }
  .btn-wrap span {
    font-size: 15px;
    border: 5px solid #9356DC;
    color: white;
    border-radius: 35px;
    padding: 0 5px;
    background-color: #9356DC;
    margin: 0 10px 0 -10px;
  }
  .btn-wrap .fas {
    font-size: 20px;
    padding: 20px 0 20px 10px;
  }
  .btn-wrap .fa-mobile-alt {
    color: gray;
  }
  .btn-wrap .fa-list {
    color: gray;
  }
  .btn-wrap .fa-store {
    color: #9356DC;
  }
  .btn-wrap p {
    padding: 25px 0 25px 10px;
    font-size: 15px;
    font-weight: 700;
    font-family: Roboto;
  }
  .rsts-section {
    display: flex;
    flex-direction: column;
    background-color: #99E2D0;
    padding: 15px 0 50px 0;
  }
  .rsts-section h3 {
    font-size: 25px;
    font-family: Roboto;
    font-weight: 700;
    padding: 40px 0 0px 30px;
  }
  .rst-ad {
    background-color: #fff;
    border-radius: 18px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .rst-ad a {
    text-decoration: none;
  }
  .rst-ad span {
    color: darkcyan;
    background-color: #99E2D0;
    font-size: 17px;
    padding: 6px 30px;
    font-family: Roboto;
    font-weight: 700;
    margin: 15px 0 0 -106px;
    position: absolute;
  }
  .rst-ad img {
    width: 100%;
    border-radius: 18px 18px 0 0;
  }
  .ad-info {
    width: 100%;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info h4 {
    color: #000;
    text-decoration: none;
    padding: 2px 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
  }
  .info p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: grey;
  }
  .main-heart1 {
    font-size: 30px;
    color: gray;
    position: absolute;
    right: 32px;
    /* margin: 255px 410px; */
    opacity: 1;
  }
  .main-heart2 {
    width: auto;
    font-size: 30px;
    position: absolute;
    right: 32px;
    opacity: 0;
  }
  .main-heart2:hover {
    opacity: 1;
    transition-duration: 1s;
    color: #a16be0;
  }
  footer {
    background-color: #000;
    padding: 0 0 45px 0;
  }
  footer h5 {
    color: #fff;
    font-family: Shrikhand;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    padding: 40px 0 25px 35px;
  }
  footer .contacts {
    text-decoration: none;
    font-family: Roboto;
  }
  footer .contacts a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    margin: 0 30px;
  }
  footer .contacts a .fa-handshake {
    transform: rotate(-50deg);
    font-size: 15px;
    padding-right: 15px;
  }
  footer .contacts a .fa-utensils {
    padding-right: 20px;
    font-size: 15px;
  }
  .rstnt-navigation-palette {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px 25px 10px;
  }
  .rstnt-navigation-palette a {
    text-decoration: none;
  }
  .rstnt-navigation-palette i {
    font-size: 40px;
    color: #000;
    margin-left: 40px;
  }
  .rstnt-navigation-palette img {
    width: 320px;
  }
  .nav-img {
    width: 100%;
  }
  .menu-palette {
    position: relative;
    margin-top: -60px;
    background-color: #fafafa;
    border-radius: 65px 65px 0 0;
  }
  .menu-palette h2 {
    padding: 30px 0 7px 25px;
    color: gray;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
  }
  .line {
    border-bottom: 5px solid #99E2D0;
    width: 11%;
    margin: 0 0 25px 27px;
  }
  .menu-title-palette {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }
  .menu-title-palette h1 {
    font-size: 40px;
    font-weight: 500;
    font-family: Shrikhand;
  }
  .heart {
    color: #000;
    background-color: #99E2D0;
  }
  .heart:hover {
    color: #9356DC;
  }
  .dish-palette {
    width: 100%;
  }
  .dish-palette-price {
    vertical-align: super;
  }
  .dish-palette .fa-check-circle {
    font-size: 40px;
    color: #fff;
    background-color: #99E2D0;
    border-radius: 50%;
    border: 1px solid #99E2D0;
    transition: transform 1s;
    margin: 30px;
    position: absolute;
  }
  .dish-palette .fa-check-circle:hover {
    transform: rotate(360deg);
  }
  .dish-palette span {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 800;
  }
  .dish-info-palette h3 {
    padding-bottom: 10px;
    font-family: Roboto;
    font-size: 30px;
  }
  .dish-info-palette p {
    color: gray;
    font-family: Roboto;
    font-size: 25px;
  }
  .order {
    background-color: #FF79DA;
    color: #fff;
    margin: 80px 0 120px 150px;
    padding: 35px 170px;
    border: none;
    border-radius: 55px;
    font-size: 30px;
    box-shadow: 1px 2px 14px 6px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
  .order:hover {
    cursor: pointer;
    box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
    background-color: #fface8;
  }
  .rstnt-navigation-plate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px 25px 10px;
  }
  .rstnt-navigation-plate a {
    text-decoration: none;
  }
  .rstnt-navigation-plate i {
    font-size: 40px;
    color: #000;
    margin-left: 40px;
  }
  .rstnt-navigation-plate img {
    width: 320px;
  }
  .nav-img {
    width: 100%;
  }
  .menu-plate {
    position: relative;
    margin-top: -60px;
    background-color: #fafafa;
    border-radius: 65px 65px 0 0;
  }
  .menu-plate h2 {
    padding: 30px 0 7px 25px;
    color: gray;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
  }
  .line-plate {
    border-bottom: 5px solid #99E2D0;
    width: 11%;
    margin: 0 0 25px 27px;
  }
  .menu-title-plate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }
  .menu-title-plate h1 {
    font-size: 40px;
    font-weight: 500;
    font-family: Shrikhand;
  }
  .check {
    background-color: #99E2D0;
    border-radius: 0 25px 25px 0;
    width: 140px;
    height: 110px;
  }
  .fa-check-circle {
    font-size: 40px;
    color: #fff;
    background-color: #99E2D0;
    border-radius: 50%;
    transition: transform 1s;
    margin: 35px;
  }
  .heart {
    color: #000;
    background-color: #99E2D0;
  }
  .heart:hover {
    color: #9356DC;
  }
  .dish-plate {
    width: 100%;
  }
  .dish-plate-price {
    vertical-align: super;
  }
  .dish-plate .fa-check-circle {
    font-size: 40px;
    color: #fff;
    background-color: #99E2D0;
    border-radius: 50%;
    border: 1px solid #99E2D0;
    transition: transform 1s;
    margin: 30px;
    position: absolute;
  }
  .dish-plate .fa-check-circle:hover {
    transform: rotate(360deg);
  }
  .dish-plate span {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 800;
  }
  .dish-info-plate h3 {
    padding-bottom: 10px;
    font-family: Roboto;
    font-size: 30px;
  }
  .dish-info-plate p {
    color: gray;
    font-family: Roboto;
    font-size: 25px;
  }
  .order {
    background-color: #FF79DA;
    color: #fff;
    margin: 80px 0 120px 150px;
    padding: 35px 170px;
    border: none;
    border-radius: 55px;
    font-size: 30px;
    box-shadow: 1px 2px 14px 6px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
  .order:hover {
    cursor: pointer;
    box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
    background-color: #fface8;
  }
  .rstnt-navigation-bastille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px 25px 10px;
  }
  .rstnt-navigation-bastille a {
    text-decoration: none;
  }
  .rstnt-navigation-bastille i {
    font-size: 40px;
    color: #000;
    margin-left: 40px;
  }
  .rstnt-navigation-bastille img {
    width: 320px;
  }
  .nav-img {
    width: 100%;
  }
  .menu-bastille {
    position: relative;
    margin-top: -60px;
    background-color: #fafafa;
    border-radius: 65px 65px 0 0;
  }
  .menu-bastille h2 {
    padding: 30px 0 7px 25px;
    color: gray;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
  }
  .line-bastille {
    border-bottom: 5px solid #99E2D0;
    width: 11%;
    margin: 0 0 25px 27px;
  }
  .menu-title-bastille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }
  .menu-title-bastille h1 {
    font-size: 40px;
    font-weight: 500;
    font-family: Shrikhand;
  }
  .heart {
    color: #000;
    background-color: #99E2D0;
  }
  .heart:hover {
    color: #9356DC;
  }
  .dish-bastille {
    width: 100%;
  }
  .dish-bastille-price {
    vertical-align: super;
  }
  .dish-bastille .fa-check-circle {
    font-size: 40px;
    color: #fff;
    background-color: #99E2D0;
    border-radius: 50%;
    border: 1px solid #99E2D0;
    transition: transform 1s;
    margin: 30px;
    position: absolute;
  }
  .dish-bastille .fa-check-circle:hover {
    transform: rotate(360deg);
  }
  .dish-bastille span {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 800;
  }
  .dish-info-bastille h3 {
    padding-bottom: 10px;
    font-family: Roboto;
    font-size: 30px;
  }
  .dish-info-bastille p {
    color: gray;
    font-family: Roboto;
    font-size: 25px;
  }
  .order {
    background-color: #FF79DA;
    color: #fff;
    margin: 80px 0 120px 150px;
    padding: 35px 170px;
    border: none;
    border-radius: 55px;
    font-size: 30px;
    box-shadow: 1px 2px 14px 6px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
  .order:hover {
    cursor: pointer;
    box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
    background-color: #fface8;
  }
  .rstnt-navigation-gourmand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px 25px 10px;
  }
  .rstnt-navigation-gourmand a {
    text-decoration: none;
  }
  .rstnt-navigation-gourmand i {
    font-size: 40px;
    color: #000;
    margin-left: 40px;
  }
  .rstnt-navigation-gourmand img {
    width: 320px;
  }
  .nav-img {
    width: 100%;
  }
  .menu-gourmand {
    position: relative;
    margin-top: -60px;
    background-color: #fafafa;
    border-radius: 65px 65px 0 0;
  }
  .menu-gourmand h2 {
    padding: 30px 0 7px 25px;
    color: gray;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
  }
  .line-gourmand {
    border-bottom: 5px solid #99E2D0;
    width: 11%;
    margin: 0 0 25px 27px;
  }
  .menu-title-gourmand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }
  .menu-title-gourmand h1 {
    font-size: 40px;
    font-weight: 500;
    font-family: Shrikhand;
  }
  .heart {
    color: #000;
    background-color: #99E2D0;
  }
  .heart:hover {
    color: #9356DC;
  }
  .dish-gourmand {
    width: 100%;
  }
  .dish-gourmand-price {
    vertical-align: super;
  }
  .dish-gourmand .fa-check-circle {
    font-size: 40px;
    color: #fff;
    background-color: #99E2D0;
    border-radius: 50%;
    border: 1px solid #99E2D0;
    transition: transform 1s;
    margin: 30px;
    position: absolute;
  }
  .dish-gourmand .fa-check-circle:hover {
    transform: rotate(360deg);
  }
  .dish-gourmand span {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 800;
  }
  .dish-info-gourmand h3 {
    padding-bottom: 10px;
    font-family: Roboto;
    font-size: 30px;
  }
  .dish-info-gourmand p {
    color: gray;
    font-family: Roboto;
    font-size: 25px;
  }
  .order {
    background-color: #FF79DA;
    color: #fff;
    margin: 80px 0 120px 150px;
    padding: 35px 170px;
    border: none;
    border-radius: 55px;
    font-size: 30px;
    box-shadow: 1px 2px 14px 6px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
  .order:hover {
    cursor: pointer;
    box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
    background-color: #fface8;
  }
}

/*# sourceMappingURL=smart-phone.css.map */
