/* Error: Undefined mixin.
 *   ,
 * 2 |     @include f
 *   |     ^^^^^^^^^^
 *   '
 *   sass\layout\_footer.scss 2:5  footer()
 *   sass\main.scss 586:5          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 2 \2502      @include f\a   \2502      ^^^^^^^^^^\a   \2575 \a   sass\\layout\\_footer.scss 2:5  footer()\a   sass\\main.scss 586:5          root stylesheet";
}
