/* Error: Declarations may only be used within style rules.
 *     ,
 * 172 |     background-color: #000;
 *     |     ^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   sass\utils\_mixins.scss 172:5  desktop-footer()
 *   sass\layout\_footer.scss 1:1   @import
 *   sass\main.scss 7:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Declarations may only be used within style rules.\a     \2577 \a 172 \2502      background-color: #000;\d\a     \2502      ^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   sass\\utils\\_mixins.scss 172:5  desktop-footer()\a   sass\\layout\\_footer.scss 1:1   @import\a   sass\\main.scss 7:9             root stylesheet";
}
