@keyframes menu-animation {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  50% {
    bottom: -80px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideLoading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
footer {
  background-color: #000;
  padding: 0 0 45px 0;
}
footer h5 {
  color: #fff;
  padding: 45px 0 35px 20px;
  font-family: Shrikhand;
  font-size: 35px;
  font-weight: 400;
}
footer .contacts {
  width: 100%;
  text-decoration: none;
  font-family: Roboto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .contacts a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
footer .fa-hands-helping {
  transform: rotate(-3deg);
  font-size: 18px;
  padding: 15px 10px;
}
footer .fa-utensils {
  padding-right: 13px;
  font-size: 20px;
}

footer {
  background-color: #000;
  padding: 0 0 45px 0;
}
footer h5 {
  font-family: Shrikhand;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  display: flex;
  padding: 30px 0 25px 15px;
}
footer .contacts {
  width: auto;
  display: flex;
  text-decoration: none;
  font-family: Roboto;
  flex-direction: column;
  align-items: flex-start;
}
footer .contacts p {
  position: relative;
  display: flex;
  font-size: 20px;
}
footer .contacts a {
  text-decoration: none;
  justify-content: flex-start;
  color: #fff;
  padding: 0 15px;
  margin-bottom: 5px;
}
footer .contacts .fa-hands-helping {
  color: #fff;
  padding: 10px 0;
  transform: rotate(-13deg);
  font-size: 14px;
  margin: 0 10px 0 0;
}
footer .contacts .fa-utensils {
  color: #fff;
  font-size: 17px;
}
footer h3 {
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  padding: 30px 0 15px 15px;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  animation-name: container;
  animation-duration: 3s;
}

@keyframes container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading img {
  width: 230px;
  animation: hideLoading 2s forwards;
  position: absolute;
  left: 655px;
  bottom: 70px;
}

@keyframes hideLoading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.navigation {
  width: 100%;
}
.navigation img {
  align-items: center;
  position: relative;
  margin: auto;
  display: flex;
  padding: 25px 0;
}

.search-btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  padding: 35px 0;
  box-shadow: rgba(11, 10, 10, 0.18) 0px 13px 12px 0px inset;
}
.search-btn-wrap input {
  border: 1px solid #9356DC;
  background-color: #9356DC;
  font-size: 25px;
  font-family: Roboto;
}
.search-btn-wrap input::placeholder {
  color: #000;
}

.fa-map-marker-alt {
  font-size: 22px;
  margin: 15px 15px 15px 130px;
}

.head {
  background-color: #99E2D0;
  text-align: center;
  padding: 35px 0 60px 0;
}
.head h1 {
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 100;
}
.head p {
  padding: 25px 10px;
  text-align: center;
  color: #808080;
  font-family: Roboto;
  font-size: 22px;
}
.head button {
  background-color: #FF79DA;
  padding: 25px 40px;
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  align-items: center;
  box-shadow: 1px 7px 10px 1px rgba(0, 0, 0, 0.15);
}
.head button:hover {
  box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
  transition-duration: 1s;
  background-color: #fface8;
}

/* Section with the buttons for chosing the place 
    and prepare the menu*/
.btns {
  padding: 40px 10px 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns h2 {
  font-family: Shrikhand;
  font-size: 40px;
  font-weight: 100;
}

.btn-wrap {
  width: 37%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  background-color: #99E2D0;
  border-radius: 23px;
  margin: 25px 0 10px 10px;
  box-shadow: -2px 6px 11px 2px rgba(0, 0, 0, 0.15);
  font-size: 25px;
}
.btn-wrap:hover {
  box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
  transition-duration: 1s;
  background-color: #c1ede2;
}
.btn-wrap span {
  font-size: 20px;
  border: 5px solid #9356DC;
  color: white;
  border-radius: 35px;
  padding: 0 5px;
  background-color: #9356DC;
  margin: 0 10px 0 -10px;
}
.btn-wrap .fas {
  font-size: 27px;
  padding: 20px 0 20px 10px;
}
.btn-wrap .fa-mobile-alt {
  color: #808080;
}
.btn-wrap .fa-list {
  color: #808080;
}
.btn-wrap .fa-store {
  color: #9356DC;
}
.btn-wrap p {
  padding: 25px 0 25px 25px;
  font-size: 22px;
  font-weight: 700;
  font-family: Roboto;
}

.rsts-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #99E2D0;
  padding: 15px 0 50px 0;
  align-items: stretch;
  flex-wrap: wrap;
}
.rsts-section h3 {
  padding: 10px 0px 20px 30px;
  width: 100%;
  font-size: 25px;
  font-family: Shrikhand;
  font-weight: 100;
}

.rst-ad {
  position: relative;
  background-color: #fff;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px auto;
  width: 360px;
}
.rst-ad a {
  text-decoration: none;
}
.rst-ad span {
  color: darkcyan;
  background-color: #99E2D0;
  font-size: 17px;
  padding: 6px 30px;
  font-family: Roboto;
  font-weight: 700;
  margin: 15px 0 0 -106px;
  position: absolute;
}
.rst-ad img {
  width: 360px;
  height: 170px;
  border-radius: 18px 18px 0 0;
}

.ad-info {
  position: relative;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  padding: 10px 0;
}
.info h4 {
  color: #000;
  text-decoration: none;
  padding: 2px 0;
  font-family: Shrikhand;
  font-size: 20px;
  font-weight: 100;
}
.info p {
  color: #808080;
  font-family: Roboto;
  font-size: 20px;
}

.main-heart1 {
  font-size: 30px;
  color: #808080;
  position: absolute;
  left: 280px;
  opacity: 1;
}

.main-heart2 {
  width: auto;
  font-size: 30px;
  position: absolute;
  left: 280px;
  opacity: 0;
}
.main-heart2:hover {
  opacity: 1;
  transition-duration: 1s;
  color: #a16be0;
}

footer {
  background-color: #000;
  padding: 0 0 45px 0;
}
footer h5 {
  color: #fff;
  padding: 45px 0 35px 20px;
  font-family: Shrikhand;
  font-size: 35px;
  font-weight: 400;
}
footer .contacts {
  width: 100%;
  text-decoration: none;
  font-family: Roboto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .contacts a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
footer .fa-hands-helping {
  transform: rotate(-3deg);
  font-size: 18px;
  padding: 15px 10px;
}
footer .fa-utensils {
  padding-right: 13px;
  font-size: 20px;
}

@media all and (min-width: 769px) {
  * {
    margin: 0;
    padding: 0;
  }
  .rstnt-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    padding: 15px 0;
  }
  .rstnt-navigation a {
    text-decoration: none;
  }
  .rstnt-navigation i {
    font-size: 20px;
    color: #000;
    margin: 0 -30px 0 28px;
  }
  .rstnt-navigation img {
    width: 175px;
    align-items: center;
    display: flex;
    margin: auto;
    padding: 15px 0;
  }
  .rstnt-navigation img {
    width: 350px;
  }
  .rstnt-navigation i {
    font-size: 35px;
  }
  .nav-img {
    width: 100%;
    height: 500px;
  }
  .menu {
    position: relative;
    margin-top: -60px;
    background-color: #fafafa;
    border-radius: 65px 65px 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
  }
  .menu h2 {
    padding: 30px 0 7px 25px;
    font-family: Shrikhand;
    font-size: 20px;
    font-weight: 100;
  }
  .line {
    border-bottom: 3px solid #99E2D0;
    width: 10%;
    margin: 0 0 25px 27px;
  }
  .menu-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 10px 25px;
  }
  .menu-title h1 {
    width: 70%;
    font-size: 30px;
    font-weight: 100;
    font-family: Shrikhand;
  }
  .menu-title h1 {
    font-size: 38px;
  }
  .heart {
    color: #808080;
    font-size: 25px;
    font-weight: 100;
    font-size: 33px;
  }
  .first {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
  }
  .second {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
  }
  .third {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.18s;
  }
  .fourth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.26s;
  }
  .fifth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.34s;
  }
  .sixth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.42s;
  }
  .seventh {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
  }
  .eighth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.58s;
  }
  .ninth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.66s;
  }
  .tenth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.74s;
  }
  .visible-dish-wrap {
    background-color: #fff;
    border-radius: 20px;
    margin: 25px 20px;
    overflow: hidden;
    box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.15);
    width: 460px;
  }
  .visible-dish-wrap:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
  .visible-dish-wrap:hover .dish-wrap h3 {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .visible-dish-wrap:hover .dish-wrap p {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .dish-wrap {
    width: 134%;
    display: flex;
    align-items: flex-start;
    transition: width 1s ease-out 100ms;
  }
  .dish-wrap .fa-check-circle {
    transition: transform 1s ease-out 10ms;
  }
  .dish-wrap:hover {
    width: 100%;
  }
  .dish-wrap:hover .fa-check-circle {
    transform: rotate(360deg);
  }
  .dish {
    position: relative;
    width: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0;
  }
  .dish .dish-price {
    margin: 55px 15px 0 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
  }
  .dish-info {
    width: inherit;
    padding-left: 15px;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dish-info span {
    width: 99%;
    white-space: break-spaces;
    padding: 0px 0 5px 0px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 600;
  }
  .dish-info p {
    margin-top: 10px;
    color: #808080;
    font-family: Roboto;
    font-size: 18px;
  }
  .dish-info span {
    width: 100%;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding: 20px 0 10px 0;
  }
  .check {
    background-color: #99E2D0;
    border-radius: 0 20px 20px 0;
    margin-left: 10px;
  }
  .fa-check-circle {
    font-size: 27px;
    color: #fff;
    background-color: #99E2D0;
    border-radius: 20px;
    position: relative;
    margin: 35px 39px;
    font-size: 35px;
  }
  .order {
    display: block;
    width: 250px;
    background-color: #FF79DA;
    color: #fff;
    border: none;
    border-radius: 55px;
    font-size: 19px;
    box-shadow: 1px 2px 14px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    align-items: center;
    margin: 50px auto;
    padding: 30px 255px 30px 190px;
    font-size: 30px;
  }
  .order:hover {
    cursor: pointer;
    box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
    background-color: #fface8;
  }
  footer {
    background-color: #000;
    padding: 0 0 45px 0;
  }
  footer h5 {
    color: #fff;
    padding: 45px 0 35px 20px;
    font-family: Shrikhand;
    font-size: 35px;
    font-weight: 400;
  }
  footer .contacts {
    width: 100%;
    text-decoration: none;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  footer .contacts a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  footer .fa-hands-helping {
    transform: rotate(-3deg);
    font-size: 18px;
    padding: 15px 10px;
  }
  footer .fa-utensils {
    padding-right: 13px;
    font-size: 20px;
  }
}
@media all and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }
  .container {
    animation-name: container;
    animation-duration: 3s;
  }
  .loading img {
    width: 150px;
    align-items: center;
    animation: hideLoading 2s forwards;
    position: absolute;
    bottom: 304px;
    left: 122px;
  }
  .navigation {
    width: 100%;
  }
  .navigation img {
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 20px;
  }
  .search-btn-wrap {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    box-shadow: rgba(11, 10, 10, 0.18) 0px 13px 12px 0px inset;
  }
  .search-btn-wrap input {
    border: none;
    background-color: #9356DC;
    font-size: 20px;
    font-family: Roboto;
  }
  .search-btn-wrap input::placeholder {
    color: #000;
  }
  .search-btn-wrap i {
    margin: 15px 17px 15px 62px;
    font-size: 19px;
  }
  .fa-map-marker-alt {
    font-size: 22px;
    margin: 15px;
  }
  .head {
    background-color: #99E2D0;
    text-align: center;
    padding: 40px 0;
  }
  .head h1 {
    font-family: Shrikhand;
    font-size: 27px;
    font-weight: 100;
  }
  .head p {
    padding: 35px 10px;
    text-align: center;
    color: #808080;
    font-family: Roboto;
    font-size: 20px;
  }
  .head .button {
    background-color: #FF79DA;
    padding: 17px 30px;
    color: #fff;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    align-items: center;
    box-shadow: 1px 7px 10px 1px rgba(0, 0, 0, 0.15);
  }
  .head .button:hover {
    box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
    background-color: #fface8;
  }
  /* Section with the buttons for chosing the place 
  and prepare the menu*/
  .btns {
    padding: 40px 10px 50px 15px;
  }
  .btns h2 {
    font-family: Shrikhand;
    font-size: 25px;
    font-weight: 100;
  }
  .btn-wrap {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    background-color: #99E2D0;
    border-radius: 23px;
    margin: 25px 0 10px 10px;
    box-shadow: -2px 6px 11px 2px rgba(0, 0, 0, 0.15);
    font-size: 25px;
  }
  .btn-wrap:hover {
    box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
    background-color: #c1ede2;
  }
  .btn-wrap span {
    font-size: 15px;
    border: 5px solid #9356DC;
    color: #fff;
    border-radius: 35px;
    padding: 0 5px;
    background-color: #9356DC;
    margin: 0 10px 0 -10px;
  }
  .btn-wrap .fas {
    font-size: 20px;
    padding: 20px 0 20px 10px;
  }
  .btn-wrap .fa-mobile-alt {
    color: #808080;
  }
  .btn-wrap .fa-list {
    color: #808080;
  }
  .btn-wrap .fa-store {
    color: #9356DC;
  }
  .btn-wrap p {
    padding: 25px 0 25px 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: Roboto;
  }
  .rsts-section {
    display: flex;
    flex-direction: column;
    background-color: #99E2D0;
    padding: 15px 0 50px 0;
    align-content: center;
    align-items: center;
  }
  .rsts-section h3 {
    width: 90%;
    padding: 40px 5px 10px 0px;
    font-size: 28px;
    font-family: Shrikhand;
    font-weight: 100;
  }
  .rst-ad {
    width: 94%;
    position: relative;
    background-color: #fff;
    border-radius: 18px;
    margin: 10px 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .rst-ad a {
    text-decoration: none;
  }
  .rst-ad span {
    color: darkcyan;
    background-color: #99E2D0;
    padding: 6px 30px;
    margin: 15px 0 0 -106px;
    position: absolute;
    font-size: 17px;
    font-family: Roboto;
    font-weight: 700;
  }
  .rst-ad img {
    width: 100%;
    border-radius: 18px 18px 0 0;
    height: 220px;
  }
  .ad-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info h4 {
    color: #000;
    text-decoration: none;
    padding: 2px 0;
    font-family: Shrikhand;
    font-size: 20px;
    font-weight: 100;
  }
  .info p {
    color: #808080;
    font-family: Roboto;
    font-size: 20px;
  }
  .main-heart1 {
    font-size: 30px;
    color: #808080;
    position: sticky;
    left: 363px;
    opacity: 1;
  }
  .main-heart2 {
    font-size: 30px;
    position: sticky;
    left: 187px;
    opacity: 0;
  }
  .main-heart2:hover {
    opacity: 1;
    transition-duration: 1s;
    color: #a16be0;
  }
  footer {
    background-color: #000;
    padding: 0 0 45px 0;
  }
  footer h5 {
    font-family: Shrikhand;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    display: flex;
    padding: 30px 0 25px 15px;
  }
  footer .contacts {
    width: auto;
    display: flex;
    text-decoration: none;
    font-family: Roboto;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .contacts p {
    position: relative;
    display: flex;
    font-size: 20px;
  }
  footer .contacts a {
    text-decoration: none;
    justify-content: flex-start;
    color: #fff;
    padding: 0 15px;
    margin-bottom: 5px;
  }
  footer .contacts .fa-hands-helping {
    color: #fff;
    padding: 10px 0;
    transform: rotate(-13deg);
    font-size: 14px;
    margin: 0 10px 0 0;
  }
  footer .contacts .fa-utensils {
    color: #fff;
    font-size: 17px;
  }
}
@media all and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  .rstnt-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: flex-start;
  }
  .rstnt-navigation a {
    text-decoration: none;
  }
  .rstnt-navigation i {
    font-size: 20px;
    color: #000;
    margin: 0 -30px 0 28px;
  }
  .rstnt-navigation img {
    width: 175px;
    align-items: center;
    display: flex;
    margin: auto;
    padding: 15px 0;
  }
  .nav-img {
    width: 100%;
  }
  .menu {
    position: relative;
    margin-top: -60px;
    background-color: #fafafa;
    border-radius: 65px 65px 0 0;
  }
  .menu h2 {
    padding: 30px 0 7px 25px;
    font-family: Shrikhand;
    font-size: 20px;
    font-weight: 100;
  }
  .line {
    border-bottom: 3px solid #99E2D0;
    width: 10%;
    margin: 0 0 25px 27px;
  }
  .menu-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 10px 25px;
  }
  .menu-title h1 {
    width: 70%;
    font-size: 30px;
    font-weight: 100;
    font-family: Shrikhand;
  }
  .heart {
    color: #808080;
    font-size: 25px;
    font-weight: 100;
  }
  .first {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
  }
  .second {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
  }
  .third {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.18s;
  }
  .fourth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.26s;
  }
  .fifth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.34s;
  }
  .sixth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.42s;
  }
  .seventh {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
  }
  .eighth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.58s;
  }
  .ninth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.66s;
  }
  .tenth {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.74s;
  }
  .dish {
    position: relative;
    width: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0;
  }
  .dish .dish-price {
    margin: 55px 15px 0 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
  }
  .visible-dish-wrap {
    background-color: #fff;
    border-radius: 20px;
    margin: 25px 20px;
    overflow: hidden;
    box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.15);
  }
  .visible-dish-wrap:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
  .visible-dish-wrap:hover .dish-wrap h3 {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .visible-dish-wrap:hover .dish-wrap p {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .dish-wrap {
    width: 134%;
    display: flex;
    align-items: flex-start;
    transition: width 1s ease-out 100ms;
  }
  .dish-wrap .fa-check-circle {
    transition: transform 1s ease-out 10ms;
  }
  .dish-wrap:hover {
    width: 100%;
  }
  .dish-wrap:hover .fa-check-circle {
    transform: rotate(360deg);
  }
  .dish-info {
    width: inherit;
    padding-left: 15px;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dish-info span {
    width: 99%;
    white-space: break-spaces;
    padding: 0px 0 5px 0px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 600;
  }
  .dish-info p {
    margin-top: 10px;
    color: #808080;
    font-family: Roboto;
    font-size: 18px;
  }
  .check {
    background-color: #99E2D0;
    border-radius: 0 20px 20px 0;
    margin-left: 10px;
  }
  .fa-check-circle {
    font-size: 27px;
    color: #fff;
    background-color: #99E2D0;
    border-radius: 20px;
    position: relative;
    margin: 35px 39px;
  }
  .order {
    display: block;
    width: 250px;
    background-color: #FF79DA;
    color: #fff;
    border: none;
    border-radius: 55px;
    font-size: 19px;
    box-shadow: 1px 2px 14px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    align-items: center;
    margin: 50px auto;
  }
  .order:hover {
    cursor: pointer;
    box-shadow: -6px 20px 10px 1px rgba(0, 0, 0, 0.15);
    transition-duration: 1s;
    background-color: #fface8;
  }
  footer {
    background-color: #000;
    padding: 0 0 45px 0;
  }
  footer h5 {
    font-family: Shrikhand;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    display: flex;
    padding: 30px 0 25px 15px;
  }
  footer .contacts {
    width: auto;
    display: flex;
    text-decoration: none;
    font-family: Roboto;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .contacts p {
    position: relative;
    display: flex;
    font-size: 20px;
  }
  footer .contacts a {
    text-decoration: none;
    justify-content: flex-start;
    color: #fff;
    padding: 0 15px;
    margin-bottom: 5px;
  }
  footer .contacts .fa-hands-helping {
    color: #fff;
    padding: 10px 0;
    transform: rotate(-13deg);
    font-size: 14px;
    margin: 0 10px 0 0;
  }
  footer .contacts .fa-utensils {
    color: #fff;
    font-size: 17px;
  }
  footer h3 {
    color: #fff;
    display: flex;
    padding: 30px 0 25px 15px;
    font-family: Shrikhand;
    font-size: 22px;
    font-weight: 400;
  }
}

/*# sourceMappingURL=style.css.map */
