@media all and (max-width: 768px) {

    @import "./base/animations.scss";
    
    @import "./utils/variables.scss";
    @import "./utils/mixins.scss";

    @import "./layout/footer";

    @import "./pages/the_full_palette.scss";
    @import "./pages/the_enchanted_plate";
    @import "./pages/bastille";
    @import "./pages/le_gourmand.scss";

    * {
        padding: 0;
        margin: 0;
    }

    .visible-dish-wrap {
        position: relative;
        // width: 93%;
        background-color: #fff;
        border-radius: 30px;
        margin: 15px;
        overflow: hidden;
        box-shadow: 0px 7px 10px 1px rgb(0 0 0 / 15%);

        &:hover {
            width: fit-content;
            cursor: pointer;
            transform: rotate(360deg);
        }

    }

    .dish-wrap-palette {
        position: relative;
        width: 150%;
        display: flex;
        align-items: center;
        transition: width 1s ease-out 100ms;

        >.check {
            .fa-check-circle {
                font-size: 35px;
                color: #fff;
                background-color: $third-color;
                border-radius: 50%;
                border: 1px solid $third-color;
                transition: transform 1s ease-in 10ms;
            }
        }

        &:hover {
            width: 100%;

            >.check {
                .fa-check-circle {
                    transform: rotate(360deg);
                }
            }
        }

        .dish-info-palette {
            display: inline-block;
            width: 55%;
            padding-left: 15px;
            margin: 0 50px 0 10px;
            overflow: hidden;
            white-space: nowrap;

            >p {
                width: 80%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .container {
        animation-name: container;
        animation-duration: 3s;
    }



    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: hideLoading 2s forwards;
        position: absolute;
        right: 0;
        bottom: 20px;
        left: 35px;

    }




    // HEADER

    // navigation
    .navigation {
        width: 100%;

        &-link {
            padding: 20px 0;
            width: 100%;
            display: block;
            text-align: center;
        }

        img {
            width: 200px;
            align-items: center;
        }

    }

    .search-btn-wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9356DC;
        // padding: 10px;
        box-shadow: rgb(11 10 10 / 18%) 0px 13px 12px 0px inset;

        input {
            border: none;
            background-color: $primary-color;

            &::placeholder {
                color: #000;
            }

            font: {
                size: 20px;
                family: $text-font
            }

        }

    }

    .fa-map-marker-alt {
        font-size: 22px;
        margin: 15px;
    }


    .head {
        background-color: $third-color;
        text-align: center;
        padding: 40px 0;

        h1 {
            font: {
                family: $text-font;
                size: 27px;
                weight: 700
            }

        }

        p {
            padding: 35px 10px;
            text-align: center;
            color: gray;

            font: {
                family: $text-font;
                size: 20px;
            }
        }

        button {
            background-color: $secondary-color;
            padding: 17px 30px;
            color: white;
            border-radius: 50px;
            font-size: 18px;
            font-weight: 500;
            border: none;
            align-items: center;
            box-shadow: 1px 7px 10px 1px rgb(0 0 0 / 15%);

            &:hover {
                box-shadow: -6px 20px 10px 1px rgb(0 0 0 / 15%);
                transition-duration: 1s;
                background-color: lighten($secondary-color, 10);
            }
        }
    }

    // MAIN SECTION

    /* Section with the buttons for chosing the place 
    and prepare the menu*/

    .btns {
        padding: 40px 10px 50px 15px;

        h2 {
            font: {
                family: $text-font;
                size: 25px;
                weight: 700;
            }
        }
    }

    .btn-wrap {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        background-color: $third-color;
        border-radius: 23px;
        margin: 25px 0 10px 10px;
        box-shadow: -2px 6px 11px 2px rgb(0 0 0 / 15%);
        font-size: 25px;

        &:hover {
            box-shadow: -6px 20px 10px 1px rgb(0 0 0 / 15%);
            transition-duration: 1s;
            background-color: lighten($third-color, 10);
        }

        span {
            font-size: 15px;
            border: 5px solid #9356DC;
            color: white;
            border-radius: 35px;
            padding: 0 5px;
            background-color: #9356DC;
            margin: 0 10px 0 -10px;
        }

        .fas {
            font-size: 20px;
            padding: 20px 0 20px 10px;
        }

        .fa-mobile-alt {
            color: gray;
        }

        .fa-list {
            color: gray;
        }

        .fa-store {
            color: $primary-color;
        }

        p {
            padding: 25px 0 25px 10px;

            font: {
                size: 15px;
                weight: 700;
                family: $text-font;
            }
        }
    }


    // Section of the restaurants 

    .rsts-section {
        display: flex;
        flex-direction: column;
        background-color: $third-color;
        padding: 15px 0 50px 0;

        h3 {
            font: {
                size: 25px;
                family: $text-font;
                weight: 700;
            }

            padding: 40px 0 0px 30px;
        }
    }

    .rst-ad {
        // position: relative;
        background-color: #fff;
        border-radius: 18px;
        margin: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;

        a {
            text-decoration: none;

        }

        span {
            color: darkcyan;
            background-color: #99E2D0;
            font-size: 17px;
            padding: 6px 30px;
            font-family: Roboto;
            font-weight: 700;
            margin: 15px 0 0 -106px;
            position: absolute;
        }

        img {
            width: 100%;
            border-radius: 18px 18px 0 0;
        }
    }



    .ad-info {
        width: 100%;
        margin: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .info {

        h4 {
            color: #000;
            text-decoration: none;
            padding: 2px 0;

            font: {
                family: $text-font;
                size: 20px;
                weight: 800;

            }
        }

        p {
            font: {
                family: $text-font;
                size: 20px;
                weight: 400;
            }

            color:grey;
        }

    }

    // .main-heart{
    //     position: absolute;
    //     left: 360px;
    // }

    .main-heart1 {
        // width: auto;
        font-size: 30px;
        color: gray;
        position: sticky;
        left: 665px;
        //  margin: 255px 410px; 
        opacity: 1;
    }

    .main-heart2 {
        // width: auto;
        font-size: 30px;
        position: sticky;
        left: 10px;
        opacity: 0;
        // margin: 255px 410px;

        &:hover {
            opacity: 1;
            transition-duration: 1s;
            color: lighten($primary-color, 5);
        }

    }

    // FOOTER

    footer {
        @include footer;
    }

}