$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$main-font: Shrikhand;
$text-font: Roboto;


@mixin restorant-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px 25px 10px;

    a {
        text-decoration: none;
    }

    i {
        font-size: 40px;
        color: #000;
        margin-left: 40px;
    }

    img {
        width: 320px;
    }
}

@mixin menu-about-pages {
    position: relative;
    margin-top: -60px;
    background-color: $third-color;
    border-radius: 65px 65px 0 0;

    h2 {
        padding: 30px 0 7px 25px;
        color: gray;

        font: {
            family: $text-font;
            size: 30px;
            weight: 400;
        }
    }
}

@mixin heart {
    color: #000;
    background-color: $third-color;

    &:hover {
        color: #9356DC;
    }
}

@mixin line {
    border-bottom: 5px solid $primary-color;
    width: 11%;
    margin: 0 0 25px 27px;
}

@mixin menu-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    h1 {
        font: {
            size: 40px;
            weight: 500;
            family: $main-font;
        }
    }
}

@mixin dish {
    background-color: #fff;
    border-radius: 25px;
    margin: 20px;
    padding: 15px 35px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    span {
        font: {
            family: $text-font;
            size: 25px;
            weight: 800;
        }
    }
}

@mixin dish-title {
    h3 {
        padding-bottom: 10px;

        font: {
            family: $text-font;
            size: 30px;

        }
    }

    p {
        width: 80%;
        color: gray;
        font-family: Roboto;
        font-size: 25px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        font: {
            family: $text-font;
            size: 25px;
        }

        &:hover {
            overflow: -moz-hidden-unscrollable;
        }
    }

}

@mixin btn-order {
    background-color: $secondary-color;
    color: #fff;
    margin: 80px 0 120px 150px;
    padding: 35px 170px;
    border: none;
    border-radius: 55px;
    font-size: 30px;
    box-shadow: 1px 2px 14px 6px rgb(0 0 0 / 15%);
    z-index: 1;

    &:hover {
        cursor: pointer;
        box-shadow: -6px 20px 10px 1px rgb(0 0 0 / 15%);
        transition-duration: 1s;
        background-color: lighten($secondary-color, 10);
    }
}


@mixin footer {
    background-color: #000;
    padding: 0 0 45px 0;

    h5 {
        color: #fff;
        font-family: $main-font;
        font-size: 30px;
        font-weight: 400;
        display: flex;
        padding: 40px 0 25px 35px;
    }


    .contacts {
        text-decoration: none;
        font-family: $text-font;


        a {
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            color: #fff;
            font-size: 25px;
            padding: 10px;
            margin: 0 30px;

            .fa-handshake {
                transform: rotate(-50deg);
                font-size: 20px;
                padding-right: 15px;
            }

            .fa-utensils {
                padding-right: 20px;
                font-size: 22px;
            }
        }
    }
}

@keyframes menu-animation {
    from {
        bottom: -50px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}


@media all and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;

    }


    .container {
        animation-name: container;
        animation-duration: 3s;
    }

    @keyframes container {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: hideLoading 3s forwards;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }

    @keyframes hideLoading {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .dish-palette {
        background-color: #fff;
        transition: background-color 250ms;
        position: relative;
        animation-name: menu-animation;
        animation-duration: 2s;
        animation-fill-mode: both;

    }


    // HEADER

    // navigation
    .navigation {
        width: 100%;

        &-link {
            padding: 20px 0;
            width: 100%;
            display: block;
            text-align: center;
        }

        img {
            width: 260px;
        }

    }

    .nav-logo {
        padding: 20px 0;
        width: 100%;
        display: block;
        text-align: center;
    }

    .search-btn-wrap {
        display: flex;
        background-color: $primary-color;
        padding: 35px 0 25px 250px;
        box-shadow: rgb(11 10 10 / 18%) 0px 13px 12px 0px inset;


        input {
            width: 100%;
            border: none;
            background-color: $primary-color;
            padding-left: 15px;

            &::placeholder {
                color: #000;
            }

            font: {
                size: 25px;
                family: $text-font
            }


        }

    }

    .fa-map-marker-alt {
        font-size: 25px;
    }


    .head {
        background-color: $third-color;
        text-align: center;
        padding: 40px;

        h1 {
            font: {
                family: $text-font;
                size: 38px;
                weight: 700
            }

        }

        p {
            width: 90%;
            padding: 35px;
            text-align: center;
            color: gray;

            font: {
                family: $text-font;
                size: 30px;
            }
        }

        button {
            background-color: $secondary-color;
            padding: 25px 35px;
            color: white;
            border-radius: 50px;
            font-size: 20px;
            font-weight: 500;
            border: none;
            align-items: center;
            box-shadow: 1px 7px 10px 1px rgb(0 0 0 / 15%);

            &:hover {
                box-shadow: -6px 20px 10px 1px rgb(0 0 0 / 15%);
                transition-duration: 1s;
                background-color: lighten($secondary-color, 10);
            }
        }
    }

    // MAIN SECTION

    /* Section with the buttons for chosing the place 
    and prepare the menu*/

    .btns {
        padding: 70px 10px 80px 25px;

        h2 {
            padding: 10px 0 20px 10px;

            font: {
                family: $text-font;
                size: 35px;
                weight: 800;
            }
        }
    }

    .btn-wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        background-color: $third-color;
        border-radius: 35px;
        padding: 35px 0 35px 35px;
        margin: 30px;
        box-shadow: -2px 6px 11px 2px rgb(0 0 0 / 15%);
        font-size: 25px;

        &:hover {
            box-shadow: -6px 20px 10px 1px rgb(0 0 0 / 15%);
            transition-duration: 1s;
            background-color: lighten($third-color, 10);
        }

        span {
            border: 1px solid $primary-color;
            color: white;
            border-radius: 40px;
            padding: 4px 12px;
            background-color: $primary-color;
            margin: 10px 180px 0px -50px;
        }

        .fas {
            margin: 0px 50px 0px -130px;
            font-size: 30px;
        }

        .fa-mobile-alt {
            color: gray;
        }

        .fa-list {
            color: gray;
        }

        .fa-store {
            color: $primary-color;
        }

        p {
            font: {
                size: 25px;
                weight: 700;
                family: $text-font;
            }
        }
    }


    // Section of the restaurants 

    .rsts-section {
        display: flex;
        flex-direction: column;
        background-color: $third-color;
        padding: 50px 0 80px 0;

        h3 {
            font: {
                size: 35px;
                family: $text-font;
                weight: 700;
            }

            padding: 40px 0 10px 30px;
        }
    }

    .rst-ad {
        background-color: #fff;
        border-radius: 25px;
        margin: 20px 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;

        a {
            text-decoration: none;

        }

        span {
            color: darkcyan;
            background-color: $third-color;
            font-size: 22px;
            padding: 10px 40px;
            font-family: $text-font;
            font-weight: 700;
            margin: 20px 0 0 -150px;
            position: absolute;

        }

        img {
            width: 100%;
            border-radius: 25px 25px 0 0;
        }
    }



    .ad-info {
        width: 100%;
        margin: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .info {

        h4 {
            color: #000;
            text-decoration: none;
            padding: 10px 0;

            font: {
                family: $text-font;
                size: 28px;
                weight: 800;

            }
        }

        p {
            font: {
                family: $text-font;
                size: 25px;
                weight: 400;
            }

            color:grey;
        }

    }

    // .main-heart {
    //     outline: 1px solid red;
    //     width: auto;
    //     position: absolute;
    //     right: px;
    //     // bottom: -980px;
    //     // left: 640px;
    // }

    .main-heart1 {
        font-size: 40px;
        position: absolute;
        right: -42px;
        top: 2px;
        opacity: 1;

        &:hover {
            // opacity: 0;
            color: lighten($primary-color, 5);
        }

    }

    .main-heart2 {
        font-size: 45px;
        position: absolute;
        color: #FF79DA;
        // opacity: 0;

        &:hover {
            opacity: 1;
            transition-duration: 500ms;
            color: lighten($primary-color, 10);
        }

    }

    // FOOTER

    footer {
        @include footer;
    }

    // THE FULL PALETTE RESTAURANT'S SITE


    // NAVIGATION

    .rstnt-navigation-palette {
        @include restorant-navigation;
    }

    .nav-img {
        width: 100%;
    }

    // THE FULL PALETTE RESTAURANT'S MAIN SECTION 

    .menu-palette {
        @include menu-about-pages;
    }

    .line {
        @include line;
    }

    .menu-title-palette {
        @include menu-title;
    }

    .heart {
        @include heart;
    }

    // .menu-section {}

    .dish-palette {
        @include dish;
    }

    .dish-info-palette {
        @include dish-title;

    }

    .order {
        @include btn-order;
    }

    // THE ENCHANTED PLATE RESTAURANT'S SITE

    // NAVIGATION

    .rstnt-navigation-plate {
        @include restorant-navigation;
    }

    .nav-img {
        width: 100%;
    }

    // THE FULL PLATE RESTAURANT'S MAIN SECTION 

    .menu-plate {
        @include menu-about-pages;
    }

    .line-plate {
        @include line;
    }

    .menu-title-plate {
        @include menu-title;
    }

    .check {
        background-color: $third-color;
        border-radius: 0 25px 25px 0;
        width: 110px;
        height: 110px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: -1;
        // visibility: hidden;

    }

    .fa-check-circle {
        font-size: 40px;
        color: #fff;
        background-color: $third-color;
        border-radius: 50%;
        // border: 1px solid $third-color;
        transition: transform 1s;
        margin: 30px;
        position: absolute;

        &:hover {
            transform: rotate(360deg);
        }
    }

    .heart {
        @include heart;
    }

    .dish-plate {
        @include dish;
    }

    .dish-info-plate {
        @include dish-title;

    }

    .order {
        @include btn-order;
    }

    // BASTILLE RESTAURANT'S SITE

    // NAVIGATION

    .rstnt-navigation-bastille {
        @include restorant-navigation;
    }

    .nav-img {
        width: 100%;
    }

    // BASTILLE MAIN SECTION 

    .menu-bastille {
        @include menu-about-pages;
    }

    .line-bastille {
        @include line;
    }

    .menu-title-bastille {
        @include menu-title;
    }

    .heart {
        @include heart;
    }

    .dish-bastille {
        @include dish;
    }

    .dish-info-bastille {
        @include dish-title;

    }

    .order {
        @include btn-order;
    }


    // LE GOURMAND RESTAURANT'S SITE

    // NAVIGATION

    .rstnt-navigation-gourmand {
        @include restorant-navigation;
    }

    .nav-img {
        width: 100%;
    }

    // LE GOURMAND RESTAURANT'S MAIN SECTION 

    .menu-gourmand {
        @include menu-about-pages;
    }

    .line-gourmand {
        @include line;
    }

    .menu-title-gourmand {
        @include menu-title;
    }

    .heart {
        @include heart;
    }

    .dish-gourmand {
        @include dish;
    }

    .dish-info-gourmand {
        @include dish-title;

    }

    .order {
        @include btn-order;
    }

    // CONTACT'S SITE

}