// DESKTOP VERSION

// RESTAURANT'S SITE
@media all and (min-width: 769px) {

    body {
        margin: 0;
        padding: 0;
    }

    // NAVIGATION

    .rstnt-navigation {
        @include restorant-navigation;
        padding: 15px 0;

        img {
            width: 350px;
        }

        i {
            font-size: 35px;
        }
    }

    .nav-img {
        width: 100%;
        height: 500px;
    }

    // THE RESTAURANT'S MAIN SECTION 

    .menu {
        @include menu-about-pages;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: stretch;
    }

    .line {
        @include line;
    }

    .menu-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu-title {
        @include menu-title;

        h1 {
            font-size: 38px;
        }
    }

    .heart {
        @include heart;
        font-size: 33px;
    }


    // Start of the menu animation section
    .first {
        @include menu-movment;
    }

    .second {
        @include menu-movment;
        animation-delay: 0.1s;
    }

    .third {
        @include menu-movment;
        animation-delay: 0.18s;
    }

    .fourth {
        @include menu-movment;
        animation-delay: 0.26s;
    }

    .fifth {
        @include menu-movment;
        animation-delay: 0.34s;
    }

    .sixth {
        @include menu-movment;
        animation-delay: 0.42s;
    }

    .seventh {
        @include menu-movment;
        animation-delay: 0.5s;
    }

    .eighth {
        @include menu-movment;
        animation-delay: 0.58s;
    }

    .ninth {
        @include menu-movment;
        animation-delay: 0.66s;
    }

    .tenth {
        @include menu-movment;
        animation-delay: 0.74s;
    }

    // End of the menu animation section

    .visible-dish-wrap {
        @include visible-dish-wrap;
        width: 460px;
    }

    .dish-wrap {
        @include dish-wrap;
    }

    .dish {
        position: relative;
        @include dish;
    }

    .dish-info {
        @include dish-info;
        @include dish-title;

        h3 {
            width: 100%;
            font-size: 25px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0;
            padding: 20px 0 10px 0;
        }
    }

    .check {
        @include check;
    }

    .fa-check-circle {
        @include check-icon;
        font-size: 35px;
    }

    .order {
        @include btn-order;
        padding: 30px 255px 30px 190px;
        font-size: 30px;
    }

    // FOOTER

    footer {
        @include desktop-footer;

        h4 {
            color: #fff;
            font-family: $main-font;
            font-size: 35px;
            font-weight: 400;
            padding: 45px 0 0 40px;
        }
    }
}