@media all and (max-width: 768px) {
    // THE RESTAURANT'S SITES

    * {
        margin: 0;
        padding: 0;
    }

    // NAVIGATION

    .rstnt-navigation {
        @include restorant-navigation;
    }

    .nav-img {
        width: 100%;
    }

    // THE RESTAURANT'S MAIN SECTION 

    .menu {
        @include menu-about-pages;
    }

    .line {
        @include line;
    }

    .menu-title {
        @include menu-title;
    }

    .heart {
        @include heart;
    }

    // Start of the menu animation section
    .first {
        @include menu-movment;
    }

    .second {
        @include menu-movment;
        animation-delay: 0.1s;
    }

    .third {
        @include menu-movment;
        animation-delay: 0.18s;
    }

    .fourth {
        @include menu-movment;
        animation-delay: 0.26s;
    }

    .fifth {
        @include menu-movment;
        animation-delay: 0.34s;
    }

    .sixth {
        @include menu-movment;
        animation-delay: 0.42s;
    }

    .seventh {
        @include menu-movment;
        animation-delay: 0.5s;
    }

    .eighth {
        @include menu-movment;
        animation-delay: 0.58s;
    }

    .ninth {
        @include menu-movment;
        animation-delay: 0.66s;
    }

    .tenth {
        @include menu-movment;
        animation-delay: 0.74s;
    }

    // End of the menu animation section

    .dish {
        position: relative;
        @include dish;
    }

    .visible-dish-wrap {
        @include visible-dish-wrap;
    }

    .dish-wrap {
        @include dish-wrap;
    }

    .dish-info {
        @include dish-info;
        @include dish-title;
    }

    .check {
        @include check;
    }

    .fa-check-circle {
        @include check-icon;
    }

    .order {
        @include btn-order;
    }

    // FOOTER

    footer {
        @include phone-footer;

        h4 {
            color: #fff;
            font-family: $main-font;
            font-size: 22px;
            font-weight: 400;
            display: flex;
            padding: 40px 0 25px 30px;
        }
    }
}