@media all and (max-width: 768px) {

    // THE FULL PALETTE RESTAURANT'S SITE

    // NAVIGATION

    .rstnt-navigation-palette {
        @include restorant-navigation;
    }

    .nav-img {
        width: 100%;
    }

    // THE FULL PALETTE RESTAURANT'S MAIN SECTION 

    .menu-palette {
        @include menu-about-pages;
    }

    .line {
        @include line;
    }

    .menu-title-palette {
        @include menu-title;
    }

    .heart {
        @include heart;
    }

    // .menu-section {}

    .dish-palette {
        @include dish;
    }

    .dish-info-palette {
        @include dish-title;

    }

    .visible-dish-wrap {
        position: relative;
        // width: 93%;
        background-color: #fff;
        border-radius: 30px;
        margin: 15px;
        overflow: hidden;
        box-shadow: 0px 7px 10px 1px rgb(0 0 0 / 15%);

        &:hover {
            width: fit-content;
            cursor: pointer;
            transform: rotate(360deg);
        }

    }

    .dish-wrap-palette {
        position: relative;
        width: 150%;
        display: flex;
        align-items: center;
        transition: width 1s ease-out 100ms;

        >.check {
            .fa-check-circle {
                font-size: 35px;
                color: #fff;
                background-color: $third-color;
                border-radius: 50%;
                border: 1px solid $third-color;
                transition: transform 1s ease-in 10ms;
            }
        }

        &:hover {
            width: 100%;

            >.check {
                .fa-check-circle {
                    transform: rotate(360deg);
                }
            }
        }

        .dish-info-palette {
            display: inline-block;
            width: 55%;
            padding-left: 15px;
            margin: 0 50px 0 10px;
            overflow: hidden;
            white-space: nowrap;

            >p {
                width: 80%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .container {
        animation-name: container;
        animation-duration: 3s;
    }

    .check {
        background-color: #99E2D0;
        border-radius: 0 25px 25px 0;
        width: 100px;
        height: 95px;
        // margin: 0 0 0 -30px;
        // position: absolute;
        // right: 0px;
        // bottom: 0px;
        // z-index: -1;
    }

    .fa-check-circle {
        font-size: 35px;
        color: #fff;
        background-color: $third-color;
        border-radius: 50%;
        transition: transform 1s;
        margin: 28px 32px;
        // position: absolute;
    }

    .order {
        @include btn-order;
    }

    footer {
        @include footer;
    }

}

// DESCTOP VERSION

.rstnt-navigation-palette {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;

    img {
        width: 250px;
    }
}

.fa-arrow-left {
    font-size: 30px;
    color: #000;
}


.nav-img {
    width: 1470px;
    height: 500px;
    margin: 25px;
}


// THE FULL PALETTE RESTAURANT'S MAIN SECTION 

// .menu-palette {
//     @include menu-about-pages;
// }

// .line {
//     @include line;
// }

.menu-title-palette {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.heart {
    font-size: 30px;
}

// .menu-section {}

.dish-palette {
    @include dish;
}

.dish-info-palette {
    @include dish-title;

}

.visible-dish-wrap {
    position: relative;
    // width: 93%;
    background-color: #fff;
    border-radius: 30px;
    margin: 15px;
    overflow: hidden;
    box-shadow: 0px 7px 10px 1px rgb(0 0 0 / 15%);

    &:hover {
        width: fit-content;
        cursor: pointer;
        transform: rotate(360deg);
    }

}

.dish-wrap-palette {
    position: relative;
    width: 150%;
    display: flex;
    align-items: center;
    transition: width 1s ease-out 100ms;

    >.check {
        .fa-check-circle {
            font-size: 35px;
            color: #fff;
            background-color: $third-color;
            border-radius: 50%;
            border: 1px solid $third-color;
            transition: transform 1s ease-in 10ms;
        }
    }

    &:hover {
        width: 100%;

        >.check {
            .fa-check-circle {
                transform: rotate(360deg);
            }
        }
    }

    .dish-info-palette {
        display: inline-block;
        width: 55%;
        padding-left: 15px;
        margin: 0 50px 0 10px;
        overflow: hidden;
        white-space: nowrap;

        >p {
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.container {
    animation-name: container;
    animation-duration: 3s;
}

.check {
    background-color: #99E2D0;
    border-radius: 0 25px 25px 0;
    width: 100px;
    height: 95px;
    // margin: 0 0 0 -30px;
    // position: absolute;
    // right: 0px;
    // bottom: 0px;
    // z-index: -1;
}

.fa-check-circle {
    font-size: 35px;
    color: #fff;
    background-color: $third-color;
    border-radius: 50%;
    transition: transform 1s;
    margin: 28px 32px;
    // position: absolute;
}

.order {
    @include btn-order;
}

footer {
    @include footer;
}