@keyframes menu-animation {
    0% {
        bottom: -100px;
        opacity: 0;
    }

    50% {
        bottom: -80px;
        opacity: 0;
    }

    100% {
        bottom: 0px;
        opacity: 1;
    }
}



@keyframes container {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideLoading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}