@mixin restorant-navigation {
    display: flex;
    flex-direction: row;
    padding: 30px 0 15px 0;
    /* margin: 20px 0 0 0; */
    align-items: center;
    justify-content: flex-start;


    a {
        text-decoration: none;
    }

    i {
        font-size: 20px;
        color: gray;
        margin: 0 25px;
    }

    img {
        width: 170px;
        margin: 0 45px;
    }
}

@mixin menu-about-pages {
    position: relative;
    margin-top: -60px;
    background-color: #fafafa;
    border-radius: 65px 65px 0 0;

    h2 {
        padding: 30px 0 7px 25px;
        color: gray;

        font: {
            family: $text-font;
            size: 20px;
            weight: 300;
        }
    }
}

@mixin heart {
    color: gray;
    font-size: 25px;
    font-weight: 100;
}

@mixin line {
    border-bottom: 3px solid $third-color;
    width: 7%;
    margin: 0 0 25px 27px;
}

@mixin menu-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 10px 25px;

    h1 {
        font: {
            size: 30px;
            weight: 500;
            family: $main-font;
        }
    }
}

@mixin dish {
    // position: relative;
    width: 128%;
    display: flex;
    align-items: center;


    &-price {
        vertical-align: super;
    }

    span {

        font: {
            family: Roboto;
            size: 19px;
            weight: 600;
        }
    }

}

@mixin dish-title {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;

    h3 {
        // width: 75%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: 5px;

        font: {
            family: $text-font;
            size: 25px;
            weight: 500;

        }
    }

    p {
        color: gray;

        &:hover {
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        font: {
            family: $text-font;
            size: 19px;
        }

    }

}


    // .visible-dish-wrap {
    //     position: relative;
    //     // width: 93%;
    //     background-color: #fff;
    //     border-radius: 30px;
    //     margin: 15px;
    //     overflow: hidden;
    //     box-shadow: 0px 7px 10px 1px rgb(0 0 0 / 15%);

    //     &:hover {
    //         width: fit-content;
    //         cursor: pointer;
    //         transform: rotate(360deg);
    //     }

    // }

    // .dish-wrap-palette {
    //     position: relative;
    //     width: 150%;
    //     display: flex;
    //     align-items: center;
    //     transition: width 1s ease-out 100ms;

    //     >.check {
    //         .fa-check-circle {
    //             font-size: 35px;
    //             color: #fff;
    //             background-color: $third-color;
    //             border-radius: 50%;
    //             border: 1px solid $third-color;
    //             transition: transform 1s ease-in 10ms;
    //         }
    //     }

    //     &:hover {
    //         width: 100%;

    //         >.check {
    //             .fa-check-circle {
    //                 transform: rotate(360deg);
    //             }
    //         }
    //     }

    //     .dish-info-palette {
    //         display: inline-block;
    //         width: 55%;
    //         padding-left: 15px;
    //         margin: 0 50px 0 10px;
    //         overflow: hidden;
    //         white-space: nowrap;

    //         >p {
    //             width: 80%;
    //             overflow: hidden;
    //             white-space: nowrap;
    //             text-overflow: ellipsis;
    //         }
    //     }
    // }

    // .container {
    //     animation-name: container;
    //     animation-duration: 3s;
    // }


    // .check {
    //     background-color: #99E2D0;
    //     border-radius: 0 25px 25px 0;
    //     width: 100px;
    //     height: 95px;
    //     // margin: 0 0 0 -30px;
    //     // position: absolute;
    //     // right: 0px;
    //     // bottom: 0px;
    //     // z-index: -1;
    // }

    // .fa-check-circle {
    //     font-size: 35px;
    //     color: #fff;
    //     background-color: $third-color;
    //     border-radius: 50%;
    //     transition: transform 1s;
    //     margin: 28px 32px;
    //     // position: absolute;
    // }



@mixin btn-order {
    position: relative;
    background-color: #FF79DA;
    color: #fff;
    border: none;
    border-radius: 55px;
    font-size: 19px;
    box-shadow: 1px 2px 14px 6px rgba(0, 0, 0, 0.15);
    padding: 18px 85px;
    margin: 50px 0 75px 180px;
    // display: flex;
    // align-items: center;
    // flex-direction: row;

    &:hover {
        cursor: pointer;
        box-shadow: -6px 20px 10px 1px rgb(0 0 0 / 15%);
        transition-duration: 1s;
        background-color: lighten($secondary-color, 10);
    }
}

@mixin footer {
    background-color: #000;
    padding: 0 0 45px 0;

    h5 {
        color: #fff;
        font-family: $main-font;
        font-size: 20px;
        font-weight: 400;
        display: flex;
        padding: 40px 0 25px 35px;
    }

    .contacts {
        display: flex;
        text-decoration: none;
        font-family: Roboto;
        flex-direction: column;
        align-items: flex-start;

        p {
            margin-left: 32px;
            position: relative;
            display: flex;
        }

        a {
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            color: #fff;
            font-size: 15px;
            // padding: 10px;
            margin: 4px 0;

            .fa-handshake {
                padding: 10px 0;
                transform: rotate(-50deg);
                font-size: 15px;
                /* padding-right: 15px; */
                // position: absolute;
                // left: -12px;
            }

            .fa-utensils {
                // position: absolute;
                // padding-right: 20px;
                font-size: 15px;
            }
        }
    }
}