@mixin restorant-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: flex-start;

    a {
        text-decoration: none;
    }

    i {
        font-size: 20px;
        color: #000;
        margin: 0 -30px 0 28px;
    }

    img {
        width: 175px;
        align-items: center;
        display: flex;
        margin: auto;
        padding: 15px 0;
    }
}

@mixin main-restorant-navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 30px 0 15px 0;
    align-items: center;

    a {
        text-decoration: none;
    }

    i {
        font-size: 20px;
        color: #808080;
        margin: 0 25px;
    }

    img {
        width: 170px;
        padding: 0 60px;
    }
}

@mixin menu-about-pages {
    position: relative;
    margin-top: -60px;
    background-color: #fafafa;
    border-radius: 65px 65px 0 0;

    h2 {
        padding: 30px 0 7px 25px;

        font: {
            family: $main-font;
            size: 20px;
            weight: 500;
        }
    }
}

@mixin menu-movment {
    position: relative;
    animation: menu-animation 2s;
    animation-timing-function: ease-out;
}

@mixin heart {
    color: #808080;
    font-size: 25px;
    font-weight: 100;
}

@mixin line {
    border-bottom: 3px solid $third-color;
    width: 10%;
    margin: 0 0 25px 27px;
}

@mixin menu-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 10px 25px;

    h1 {
        width: 70%;

        font: {
            size: 30px;
            weight: 500;
            family: $main-font;
        }
    }
}

@mixin dish {
    width: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0;

    .dish-price {
        margin: 55px 15px 0 0;

        font: {
            family: $text-font;
            size: 20px;
            weight: 800;
        }
    }
}

@mixin dish-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    h3 {
        width: 99%;
        white-space: break-spaces;
        padding: 0px 0 5px 0px;

        font: {
            family: $main-font;
            size: 25px;
            weight: 600;
        }
    }

    p {
        margin: 0;
        color: #808080;

        font: {
            family: $text-font;
            size: 20px;
        }
    }
}

@mixin visible-dish-wrap {
    background-color: #fff;
    border-radius: 20px;
    margin: 25px 20px;
    overflow: hidden;
    box-shadow: 0px 7px 10px 1px rgb(0 0 0 / 15%);

    &:hover {
        cursor: pointer;
        transform: rotate(360deg);

        .dish-wrap {
            h3 {
                width: 70%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            p {
                width: 70%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

@mixin dish-wrap {
    width: 134%;
    display: flex;
    align-items: flex-start;
    transition: width 1s ease-out 100ms;

    .fa-check-circle {
        transition: transform 1s ease-out 10ms;
    }

    &:hover {
        width: 100%;

        .fa-check-circle {
            transform: rotate(360deg);
        }
    }
}


@mixin dish-info {
    width: inherit;
    padding-left: 15px;
    margin-right: auto;
}


@mixin check {
    background-color: $third-color;
    border-radius: 0 20px 20px 0;
    margin-left: 10px;
}

@mixin check-icon {
    font-size: 27px;
    color: #fff;
    background-color: $third-color;
    border-radius: 20px;
    position: relative;
    margin: 35px 39px;
}

@mixin btn-order {
    display: block;
    width: 250px;
    background-color: $secondary-color;
    color: #fff;
    border: none;
    border-radius: 55px;
    font-size: 19px;
    box-shadow: 1px 2px 14px 6px rgb(0 0 0 / 15%);
    padding: 20px;
    text-align: center;
    align-items: center;
    margin: 50px auto;

    &:hover {
        cursor: pointer;
        box-shadow: -6px 20px 10px 1px rgb(0 0 0 / 15%);
        transition-duration: 1s;
        background-color: lighten($secondary-color, 10);
    }
}

@mixin desktop-footer {
    background-color: #000;
    padding: 0 0 45px 0;

    h5 {
        font: {
            family: $main-font;
            size: 35px;
            weight: 400;
        }

        color: #fff;
        padding: 45px 0 0 40px;
    }

    .contacts {
        width: 100%;
        text-decoration: none;
        font-family: $text-font;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
    }

    .fa-hands-helping {
        transform: rotate(-3deg);
        font-size: 18px;
        padding: 15px 10px;
    }

    .fa-utensils {
        padding-right: 13px;
        font-size: 20px;
    }
}

@mixin phone-footer {
    background-color: #000;
    padding: 0 0 45px 0;

    h5 {
        font: {
            family: $main-font;
            size: 22px;
            weight: 400;
        }

        color: #fff;
        display: flex;
        padding: 40px 0 25px 30px;
    }

    .contacts {
        width: auto;
        display: flex;
        text-decoration: none;
        font-family: $text-font;
        flex-direction: column;
        align-items: flex-start;
        // margin-left: 15px;

        p {
            position: relative;
            display: flex;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            justify-content: flex-start;
            color: #fff;
            padding: 0 15px;
            margin-bottom: 5px;
        }

        .fa-hands-helping {
            color: #fff;
            padding: 10px 0;
            transform: rotate(-13deg);
            font-size: 14px;
            margin: 0 10px 0 0;
        }

        .fa-utensils {
            color: #fff;
            font-size: 17px;
        }
    }
}