@keyframes menu-animation {
    from {
        bottom: -50px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes container {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideLoading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}